*{
    margin: 0;
    padding: 0;
    background-color: #9bafd9;
}
.Container{
    width: 100%;
    height: 100vh;
    background-image: url(pt);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
    
}

.logo{
    color: black;
    font-size: 48px;
}
/*more nav bar stuff location and orientation*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 3%;
   
}

.images{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -48.5%;
  margin-left: 90%;

}

.image{
    width: 50px;
  padding: 20px;
  text-align: center;
  margin-top: px;
}

.image img{
    width: 100%;
  max-height: 200px;
  padding: 10px;

  object-fit: cover;
}

/*this is the nav bar color n stuff*/
ul{
    list-style-type: none;
    align-items: center;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: #103783;
}
/* this is the nav bar location and orientation */
li{
    display: inline;
    float: top,left;
}

li a{
    color: black;
    font-size: 24px;
    padding: 14px 16px;
    margin: 15px;
    text-decoration: none;
    text-align: center;
    background-color: #103783;
}

li a:hover{
    color: blanchedalmond
}

.content{
    margin-top: 200px;
    margin-left: 25px;
    justify-content: center;
}
.content h1{
    padding: 36px;
    margin-left: 45%;
    font-size: 36px;
}
.content h2{
    padding: 30px;
    margin-left: 41%;
    font-size: 24px;
}
.content p{
    margin-left: 18%;
    font-size: 18px;
}

#container2{
   block-size: 1px;
   background-color: #103783;
   padding: 10px;
   margin-right: 880%;
    
}
button{
    position: relative;
    border-radius: 50px;
    color: white;
    background-color: black;
    margin: 40px 15px;
    padding: 1rem 3rem;
    left: 36%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover{
    color: black;
    background-color: white;
}
